*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .container{
    display: flex;
  }
  main{
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
  }
  .sidebar{
    background: #000;
    color: #ffffff;
    height: 100vh;
    width: 500px;
    padding: 1rem; /* Reduce the padding to 1rem */
  
  }

  .top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  .logo{
    font-size: 30px;
  }
  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
  }
  .link{
    display: flex;
    color: #ffffff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  .link:hover{
    background: #7d9fc1;
    color: #000;
    transition: all 0.5s;
  }
  
  .icon, .link_text{
    font-size: 20px;
  }