.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 650px;
  background-color: #fff;
  padding: 0 50px;
}

.banner-text {
  flex: 1;
}

.banner-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.banner-text p {
  font-size: 24px;
  color: #666;
  margin-left: 100px;
  display: inline-block;
}

.banner-image img {
  width: 1350px;
  height: 750px;
  margin-bottom: 100px;
}

.banner-footer{
  display: flex;
  width: 350px;
  height: 150px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}
