.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 650px;
  background-color: #fff;
  padding: 0 50px;
}

.banner-text {
  flex: 1;
}

.banner-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.banner-text p {
  font-size: 24px;
  color: #666;
  margin-left: 100px;
}

.banner-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.banner-image img {
  width: 850px;
  max-width: 900px;
  height: auto;
  margin-left: 200px;
  margin-bottom: 20px;
}