.Navbar {
  margin-top: -20px; 
  position: relative;
}

.sticky-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.HomeContainer{
  background-color: #fff;
}

.sticky-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-color: #4b6f8f;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

/*map display ctyles*/
.map-chart-container { 
  width: 1000px; 
  height: 500px; 
  margin: 50px;
  overflow: hidden;
  position: relative; 
  background-color: #fff; 
}

.leaflet-container {
  margin-top: 50px;
  margin-left: 50px;
  width: 800px !important;
  height: 450px !important;
  border-radius: 10px;
}

.about-container{
  background-color: #fff;
}

.map-container {
  position: relative;
}

.map-section h2{
  margin-top: 200px;
  margin-left: 45%;
  font-size: 36px;
  margin-bottom: 20px;
}

.map-section {
  position: relative;
  padding: 50px 0;
}

.map-text {
  color: #617487; /* Change this to the desired color */
}

.divider {
  position: absolute;
  margin-left: 730px;
  width: 150px;
  height: 5px;
  background-color: #617487;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.PopUp{
  margin-left: 900px;
  position: absolute;
  top: 39%;
}

.Unisearch-bar {
  position: absolute;
  top: 3%;
  right: 1000px;
  transform: translateY(-40%);
  z-index: 1;
  width: 200px;
  height: 50px;
  margin-left: 500px;
}

.search-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #000000;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}

.Unisearch-bar:focus-within .search-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Unisearch-bar form {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  height: 35px;
  margin-top: 120px;
  margin-left: 250px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.Unisearch-bar input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 5px;
  width: 250px;
}

.Unisearch-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-left: 130px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.search-options {
  display: absolute;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px; 
  margin-bottom: 20px;
  left: 100px;
}

.search-option {
  display: block;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.search-option:hover {
  background-color: #0056b3;
}

.Unisearch-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 100px;
  margin-top: 600px;
margin-right: 200px; 
}

.search-option,
.Unisearch-bar li {
  display: block;
  padding: 10px 20px;
  width: 350px;
  margin-right: 100px; 
  background-color: #f2f2f2;
  border-radius: 5px;
  color: #000000;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.Unisearch-bar li:hover {
  background-color: #ddd;
}

.mocha-gif {
  width: 100px;
  height: 100px;
}

.Homesearchimage{
  margin-left: 30px;
  width: 400px;
  height: auto;
  margin-top: -40px;
}

.PopUp button{
  margin-bottom: 0px;
}

.text-overlay{
  position: absolute;
  top: 30%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: #192c36 !important;
  text-align: center;
}

.text-overlay p{
  color: #284c61;
  font-size: 18px;
  text-shadow: #ffffff 0px 0px 2px;
}

.searchPageInstruct {
  position: absolute;
  top: 120px;
  left: 60%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  height: 300px;
  width: 500px;
  margin-bottom: 2rem;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.searchPageInstruct:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.searchPageInstruct p {
  margin: 30px;
}

.searchPageInstruct h3 {
  margin: 30px;
  color: #617487;
}

.locations-gif{
  position: absolute;
  bottom: 0px;
  
  height: 150px;
  width: 250px;
  right: 50px;
}

.service-section h2{
  margin-top: 20px;
  margin-left: 48%;
  font-size: 36px;
  margin-bottom: 20px;
}


.about-section h2{
  margin-top: 20px;
  margin-left: 45%;
  font-size: 36px;
  margin-bottom: 20px;
}