.Navbar {
  margin-top: -20px; 
  position: relative;
}

.sticky-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.HomeContainer{
  background-color: #fff;
}

.sticky-button button {
  background-color: brown;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*map display ctyles*/
.map-chart-container { 
  width: 1000px; 
  height: 500px; 
  margin: 50px;
  overflow: hidden;
  position: relative; 
  background-color: #fff; 
}

.leaflet-container {
  margin-top: 50px;
  width: 1000px !important;
  height: 500px !important;
}

.about-container{
  background-color: #fff;
}

h2{
  background-color: #fff;
}