.bot-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 700px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  z-index: 999;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.bot-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bot-message {
  background-color: #e9f1ff;
  padding: 15px;
  border-radius: 20px;
  max-width: 70%;
  margin-bottom: 15px;
  transition: transform 0.3s ease-out;
}

.bot-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}
.bot-input-container{
  bottom: 0;

}
.bot-input {
  width: 100%;
  justify-content: flex;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  position: sticky;
}

.bot-send {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 350px;
  transition: background-color 0.3s ease-out;
}

.bot-send:hover {
  background-color: #0056b3;
}

.bot-message.bot-user-message {
  background-color: #e9f1ff;
  align-self: flex-end;
  margin-left: auto;
}

.bot-message:not(.bot-user-message) {
  background-color: #f2f2f2;
  align-self: flex-start;
}

.bot-typing {
  font-size: 14px;
  color: #aaa;
  animation: typing 1.9s infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 10px;
  }
}