.bot-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 600px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    z-index: 999;
    transition: transform 0.3s ease-out;
    transform: translateY(100%);
  }
  
  .bot-container.open {
    transform: translateY(0);
  }
  
  .bot-container.open + .Navbar {
    margin-bottom: 600px;
  }
  
  .bot-toggle {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .bot-toggle:hover {
    background-color: #0056b3;
  }