.btn {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:focus {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
  color: #636c72;
  cursor: not-allowed;
}