.courseTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .course-title-maximized {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .course-overview-text {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .Expand-Sec {
    border: 1px solid #ddd;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .Expand-Sec h3 {
    margin: 0;
  }
  
  .Expand-Sec p {
    margin: 0;
  }
  
  .Expand-Sec ul {
    padding: 0;
    list-style-type: none;
  }
  
  .Expand-Sec ul li {
    padding: 5px 0;
  }