.card {
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.Container{
  background-color: white !important;
}
.step-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}