.letter-display pre {
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 100%;
  overflow-x: auto;
}

#letter-content {
  margin-left: 50px;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border: 50px solid #000000;
  border-radius: 5px;
  width: 700px;
  overflow-x: auto;
}

.letter-display{
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 500px;
  overflow-x: auto;
}

.letter-Page{
  margin-left: 150px;
}