* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  form {
    width: 600px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    float: left;
  }
  
  .PersonaldetailsForm h1, h2 {
    color: #333;
  }
  
  label {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
  }
  
  input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
  }
  
  button {
    background-color: #7d9fc1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px;
  }
  
  button:hover {
    background-color: black;
  }
  
  p {
    font-size: 14px;
    color: #666;
  }
  
  textarea {
    height: 100px;
  }
  
  select {
    height: 30px;
  }

  .radio-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .radio-group label {
    margin-left: 10px;
  }

  