.university-choice-container {
  background-image: url('./inteImg/inteImg.png');
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 1500px /* Add this line to set the width to 100% */
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.university-options {
  width: 800px !important;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 8px;
}

.university-button {
  width: 48%;
  margin-bottom: 20px;
  background-color: #7d9fc1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.university-button:hover {
  background-color: black;
}

.no-button {
  margin-bottom: 20px;
  background-color: #7d9fc1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  margin-right: 170px;
  width: 800px !important;
}

.no-button:hover {
  background-color: #da190b;
}

.university-button {
  width: 48%;
  margin-bottom: 20px;
  background-color: #7d9fc1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.university-button:hover {
  background-color: black;
}

.no-button {
  width: 48%;
  margin-bottom: 20px;
  background-color: #237b7b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.no-button:hover {
  background-color: black;
}

.university-img{
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}