/* styles.css */
.navbar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: transparent;
  position: absolute; /* Make navbar absolute within container */
  top: 0; /* Position navbar at the top */
  left: 0; /* Position navbar at the left */
  width: 90%;
}
.home-container {
  position: relative; /* Enable relative positioning */
}

.logo {
  width: 100px;
  height: auto;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
}

.banner {
  width: 100%; 
  height: 100%;
 top: 100%;
  left: 100%;
  object-fit: cover;
  padding-bottom: 100px;
}

div {
  padding-bottom: 100px;
}
